@model BaseballLeague.MVC.Models.RosterViewModel
@{
    ViewBag.Title = "PlayersOnTeam";
}

<h2>@Model.TeamName's Roster</h2>

<button class="btn btn-primary col-lg-offset-10" id="btnShowSignFreeAgent">Sign Free Agent</button>
<input type="hidden" value=@Model.TeamID id="currentTeamID"/>
<div class="container">
    <table class="table" id="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Jersey Number</th>
            <th>Last Year's Batting Avg.</th>
            <th>Main Position</th>
            <th>Secondary Position</th>
            <th>Years Played</th>
        </tr>
        </thead>
        <tbody id="teamRoster">
    </table>
</div>

@{ Html.RenderAction("_TradePlayerModal", "Team");}

<!-- Release Player Modal-->
@Html.Partial("_ReleasePlayerModal")

<!-- Sign Free Agent Modal -->
@Html.Partial("_SignFreeAgentModal")

@section Scripts{
    <script type="text/javascript" src="~/Scripts/app/viewRoster.js"></script>
    <script type="text/javascript" src="~/Scripts/app/SearchBar.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.hideseek.min.js"></script>
}