
@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number</th>
        <th>Team</th>
        <th>Previous Batting Average</th>
        <th>Years Played</th>
        <th>Primary Position</th>
        <th>Secondary Position</th>
    </tr>
    </thead>
    <tbody class="searchable">
    <tr>

    </tr>
    </tbody>
</table>

<div class="form-group">
    <div class="col-lg-2 col-lg-offset-2">
        @Html.Partial("_AddPlayerModal")
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/addPlayer.js"></script>
}
