
@{
    ViewBag.Title = "Index";
}

<h2>!Null Baseball League</h2>
<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT0GpYRQbANO5B6dQqtE9ZNha5rEIavqHdU3KXPyWcdJnh9qiTWIg" width="50%" />

