
@{
    ViewBag.Title = "Index";
}

<h2>!Null Baseball League</h2>
<img style="opacity:0.7" src="http://www.youthsportfoto.com/wp-content/uploads/2015/09/baseball-stadium-sports-wallpaper.jpg" width="100%" />

